<footer>
  <div class="wrapper">
    <div class="copyright">
      &copy; Sam Lachance 2018
    </div>
    <ul class="contact-icons">
      <li><a href="mailto:sam@samlachance.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/samlachance"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/samlachance/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://keybase.io/samlachance"><i class="fa fa-key" aria-hidden="true"></i></a></li>
      <li><a href="https://gitlab.com/samlachance"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
      <li><a href="https://hub.docker.com/r/samlachance/"><i class="fa fa-docker" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>