<header>
  <div class="logo-container">
    <h1 id="logo">Sam Lachance</h1>
    <p class="subtitle">Software | Security | Systems</p>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>