@mixin section {
  padding: 35px 15px;
}

@mixin button($y-padding, $x-padding, $bg-color, $color) {
  border-radius: 3px;
  text-decoration: none;
  color: $color;
  background-color: $bg-color;
  padding: $y-padding $x-padding;
}

@mixin project-container {
  border-left: 4px solid $black;
  padding-left: 15px;
  margin: 0  0 60px 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 640px) {
    margin-left: 0;
  }
}

@mixin sidebar {
  div.sidebar-inner {
    margin-top: 58px;
    min-width: 300px;
    border: 1px solid $black;
    text-align: center;

    h4 {
      background-color: $black;
      color: $white;
      margin: 0;
      padding: 20px 10px;
      text-align: center;
    }

    ul {
      display: inline-block;
      padding: 0 40px;

      li {
        text-align: left;
        cursor: default;
      }
    }
  }
}