@import 'colors';
@import 'fonts';
@import 'mixins';

// General Styles

body {
  margin: 0;
  font-family: $body-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-text;
}

h2 {
  text-align: center;
  @include section;
  font-size: 2em;
  margin: 0;
}

a {
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

div.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  @include section;

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 0px;
  }
}

// 

header {
  overflow: auto;
  @include section;

  div.logo-container, nav {
    float: left;
    width: 50%;
  }
  
  div.logo-container {
    h1, p {
      margin: 0;
    }
 
    h1 {
      letter-spacing: 1px;
    }
  }

  nav {
    text-align: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 15px;
        margin-top: 3px;

        a {
          display: block;
          line-height: 50px;
          border-bottom: 3px solid $transparent;
          text-decoration: none;

          
          &:hover {
            transition: border-color .25s ease-in-out;
           -moz-transition: border-color .25s ease-in-out;
           -webkit-transition: border-color .25s ease-in-out;
            text-decoration: none;
            border-color: $black;
          }
        }

        &:last-child {
          margin-right: 0;
        }

      }
    }
  }
}

footer {
  @include section;
  margin-top: 35px;
  text-align: center;
  background-color: $black;
  color: $white;

  div.wrapper {
    display: flex;
    justify-content: space-between;
    
  }

  ul.contact-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $white;
        font-size: 1.1em;
      }
    }
  }
}

// Sections

// Home

section#intro {
  div.copy-container {
    width: 50%;
    margin: 0 auto;
    font-size: 1.1em;
  }
}

// Projects

section#featured-projects {


  div.featured-project {
    @include project-container;
    

    h4 {
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    p.technologies {
      font-size: 0.8em;
      font-style: italic;
    }

    nav {
      a {
        @include button(5px, 10px, $black, $white);
        margin: 0;
        display: inline-block;
      }
    }
  }
}

section#gitlab-projects {

  p.loading-projects {
    text-align: center;
  }

  div.git-project {
    @include project-container;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    h4 {
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 1em;
      margin-bottom: 10px;
    }
    p.last-updated {
      font-size: 0.7em;
      margin: 0;
    }

    p.description {
      margin: 30px 0;
    }

    div.latest-commit {
      padding: 15px;
      border: 1px solid $light-gray;
      border-radius: 3px;
      max-width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div.message-container {
        display: flex;
        align-items: center;
        margin-right: 30px;

        div.icon {
          margin-right: 30px;
        }

        div.message {
          p.commit-author {
            font-style: italic;
            font-size: 0.8em;
          }
        }
      }
      
      p {
        margin: 0;
      }

      p.commit-info {
        font-size: 0.7em;
        
        a.commit-id {
          @include button(5px, 5px, $black, $white);
          margin: 0;
          display: inline-block;
        }
      }
    }
  }
}


// Project

section#project {

  h3 {
    font-size: 1.7em;
  }

  ul.project-nav {
    margin: 26px 0;
    padding: 0;
    text-align: center;
    list-style: none;

    li {
        margin: 0 20px;
        display: inline-block;

      a {
        display: block;
        text-decoration: none;
        min-width: 125px;
        padding: 10px;
        background-color: $black;
        border-radius: 5px;
        color: $white;
      }
    }
  }
}


// Experience

section#overview {
  display: flex;
  justify-content: space-between;
}

section.experience {

  div.overview-container {
    margin-right:30px;
    h3 {
      color: $black !important;
    }

    span {
      a {
        color: inherit;
      }
    }
  }  

  div.highlights-container {
    @include sidebar;

    ul {
      li {
         &:hover {
          list-style-type: circle;
        }
      }
    }
  }
  
  div.tech-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    div.tech-category {
      border: 1px solid $black;
      min-width: 300px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      h4 {
        background-color: $black;
        color: $white;
        margin: 0;
        padding: 20px 10px;
        text-align: center;
      }

      ul {
        display: inline-block;
        padding: 0 40px;

        li {
          text-align: left;
        }
      }
    }
  }
}

// Contact 

section#contact {
  p.cta {
    font-size: 1.2em;
    text-align: center;
  }

  ul.contact-methods {
    list-style: none;
    margin: 50px 0 90px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      text-align: center;
      min-width: 250px;
      margin-bottom: 30px;

      a {
        display: block;
        text-decoration: none;
        i.fa {
          font-size: 5em;
        }

        p {
          font-size: 1.2em;
        }
      }
    }
  }
}

section#blog {
  @include section;
  display: flex;
  justify-content: space-between;


  div#post {
    margin-right: 30px;
    p.loading {
      text-align: center;
    }

    p.post-info {
      font-size: 0.8em;
      font-style: italic;
      margin: 0;
    }
  }

  div.posts-container {
    @include sidebar;
  }
}



// Error (404)

section#lost {
  text-align: center;
}

