@media only screen and (max-width: 400px) {
  header {
    nav {
      ul {
        font-size: 0.8em;
        li {
          margin-right: 3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  header {
    div.logo-container {
      width: 100%;
      text-align: center;
    }

    nav {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }

  footer {
    div.wrapper {
      flex-wrap: wrap;
      div.copyright {
        width: 100%;
      }

      ul.contact-icons {
        width: 100%;
        text-align: center;
        margin-top: 15px;

        li {
          font-size: 1.5em;
          margin: 0 10px;
        }
      }
    }
  }

  section {
    h3 {
      text-align: center;
    }
  }

  section#gitlab-projects {
    div.all-projects {
      div.git-project {
        div.latest-commit {
          flex-wrap: wrap;

          div.icon {
            display: none;
          }

          div.message-container {
            width: 100%;
            margin: 0 0 10px 0;
            
            div.message {
              font-size: 0.8em;
            }
          }

          p.commit-info {
            width: 100%;
            text-align: right;
          }
        }
      }
    }
  }

  section#blog {
    div.post {
      p.post-info {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  section#intro {
    div.copy-container {
      width: 100%;
    }
  }

  section#overview {
    div.highlights-container {
      display: none;
    }

    div.overview-container {
      margin: 0;
    }
  }

  section#common-tech {
    div.tech-categories {
      justify-content: space-around;

      div.tech-category {
        min-width: 200px;
        width: 80%;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  section#blog {
    flex-direction: column;

    div#post {
      margin: 0;
    }
  }
}



