{% extends "layout.html" %}
{% block content %}
  <h2>Blog</h2>
  <section id="blog">
    <div id="post">
      <p class="loading">Loading latest post...</p>
    </div>
    <div class="posts-container">
      <div class="posts sidebar-inner">
        <h4>Past posts</h4>
        <ul id="posts-list">
        
        </ul>
      </div>
    </div>
  </section>

  <script>
    {% if post_id %}
      var postId = "{{ post_id }}";
    {%else%}
      var postId = undefined;
    {% endif %}
    </script>
  <script type=text/javascript src="{{url_for('static', filename='scripts/blog.js') }}"></script>
{% endblock %}