{% extends "layout.html" %}
{% block content %}
  <h2>Contact</h2>
  <section id="contact">
    <p class="cta">Reach out and tell me about your project.</p>
    <ul class="contact-methods">
      <li title="Email">
        <a href="mailto:sam@samlachance.com">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>sam@samlachance.com</p>
        </a>
      </li>
      <li title="Twitter">
        <a href="https://twitter.com/samlachance">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <p>@samlachance</p>
        </a>
      </li>
      <li title="Keybase">
        <a href="https://keybase.io/samlachance">
          <i class="fa fa-key" aria-hidden="true"></i>
          <p>/samlachance</p>
        </a>
      </li>
    </ul>
    <p class="cta">You can also find me on...</p>
    <ul class="contact-methods">
      <li title="Gitlab">
        <a href="https://gitlab.com/samlachance">
          <i class="fa fa-gitlab" aria-hidden="true"></i>
          <p>@samlachance</p>
        </a>
      </li>
      <li title="Linkedin">
        <a href="https://www.linkedin.com/in/samlachance/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          <p>in/samlachance</p>
        </a>
      </li>
      <li title="Dockerhub">
        <a href="https://hub.docker.com/r/samlachance">
          <i class="fa fa-docker" aria-hidden="true"></i>
          <p>@samlachance</p>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}