{% extends "layout.html" %}
{% block content %}
  <h2>Experience</h2>
  <section id="overview" class="experience">
    <div class="overview-container" id="overview-container">
      <h3>Overview</h3>
      <p><span id="lms" class="highlight">The primary focus of my software development career is designing and building large scale learning management systems using Ruby on Rails. Some of the more notable LMS features that I have designed and developed include adaptive testing, real-time test difficulty adjustments, performance based individual learning paths, and dynamic content libraries.</span> <span id="devtools" class="highlight">I use tools like git on a daily basis and am also very familiar with a number of libraries that compliment the Ruby/Rails stack. Docker is currently one of my top interests and is used for the vast majority of my personal projects.</span></p>
      <p><span id="cloud" class="highlight">In addition to designing and developing software, I have also managed large applications in the cloud. The main platforms that I use are Digital Ocean and Heroku but I have also worked in Amazon AWS. The operations that I commonly perform in the cloud span from general maintenance and deployment to complete application migration between platforms.</span></p>
      <p>In my free time, I enjoy learning about security and developing tools that make security and crypto more accessible. <span id="penkit" class="highlight">The largest security-focused project that I participate in is a Docker powered pentesting toolkit called <a href="https://penkit.io">Penkit</a>.</span> <span id="lockbox" class="highlight">I have also developed <a href="https://gitlab.com/samlachance/lockbox">Lockbox</a> which uses a Docker container to generate and store PGP keys in an isolated LUKS encrypted filesystem.</span></p>
    </div>
    <div class="highlights-container">
      <div class="highlights sidebar-inner">
        <h4>Highlights</h4>
        <ul>
          <li onmouseover="highlight('lms', 'overview-container')" onmouseout="lowlight('lms', 'overview-container')">Large scale LMS's</li>
          <li onmouseover="highlight('devtools', 'overview-container')" onmouseout="lowlight('devtools', 'overview-container')">Modern development tools</li>
          <li onmouseover="highlight('cloud', 'overview-container')" onmouseout="lowlight('cloud', 'overview-container')">Cloud services</li>
          <li onmouseover="highlight('penkit', 'overview-container')" onmouseout="lowlight('penkit', 'overview-container')">Docker pentesting</li>
          <li onmouseover="highlight('lockbox', 'overview-container')" onmouseout="lowlight('lockbox', 'overview-container')">Isolated PGP keygen</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="common-tech" class="experience">
    <h3>Technologies</h3>
    <div class="tech-categories">
      <div class="tech-category">
        <h4>Front-end</h4>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
          <li>ERB</li>
          <li>Slim</li>
          <li>Javascript/jQuery</li>
        </ul>
      </div>
      <div class="tech-category">
        <h4>Back-end</h4>
        <ul>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>Devise</li>
          <li>Stripe</li>
          <li>PHP</li>
          <li>WordPress</li>
        </ul>
      </div>
      <div class="tech-category">
        <h4>Systems</h4>
        <ul>
          <li>Linux</li>
          <li>Heroku</li>
          <li>Digital Ocean</li>
          <li>Docker</li>
          <li>Amazon AWS</li>
        </ul>
      </div>
    </div>
  </section>

  <script>
    function highlight(element, parent) {
      parent = document.getElementById(parent);
      parent.style.color="#A0A0A0";
      h = document.getElementById(element);
      h.style.color="black";
    }

    function lowlight(element, parent) {
      parent = document.getElementById(parent);
      parent.style.color="initial";
      h = document.getElementById(element);
      h.style.color="inherit";
    }
  </script>
{% endblock %}