{% extends "layout.html" %}
{% block content %}
  <h2>Welcome</h2>
  <section id="intro">
    <div class="copy-container">
      <p>My name's Sam and I am a Software Engineer from Chattanooga, TN. I enjoy building apps that are fast, elegant, and easy to scale.</p>
      <p>My main area of focus has been building large scale learning management systems. I also manage applications in the cloud, experiment with new technologies, and build tools that make security and cryptology more accessible.</p>
      <p>Take a closer look at my <a href="/experience">experience</a> and then <a href="/contact">reach out</a> with your idea!</p>
    </div>
  </section>
{% endblock %}