<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/fontcustom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  <script type=text/javascript src="{{url_for('static', filename='scripts/jquery-3.2.1.min.js') }}"></script>
  <meta name="description" content="Sam Lachance is a Ruby software engineer based in Chattanooga, Tennessee">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sam Lachance</title>
</head>
<body>
  <div class="content">
    <div class="wrapper">
      {% include 'partials/header.html' %}
      
      {% block content %}
        
      {% endblock %}
    </div>
  </div>
  {% include 'partials/footer.html' %}
</body>
</html>