{% extends "layout.html" %}
{% block content %}
  <h2>Projects</h2>
  <section id="featured-projects">
    <h3>Featured</h3>
    <div class="featured-project">
      <h4><a href="https://penkit.io" target="_blank">Penkit</a></h4>
      <p class="technologies">Technologies: Ruby, Thor, Docker, Linux, Metasploit, Nmap</p>
      <p>Penkit is a penetration testing suite that allows you to quickly spin up isolated software environments. Using the power and flexibility of Docker, Penkit can create environments for virtually any web-based vulnerability. Penkit has two components: the Penkit image catalog and the full featured CLI application.</p>
      <p>Our goal with the Docker image catalog is to have a comprehensive selection of in-house Docker images that are carefully curated. This involves a stripped down build of Alpine Linux, our own package repository, and custom built top-level images. With this approach, we can cleanly replicate the vast majority of web software stacks.</p>
      <p>The penkit CLI app (simply referred to as "penkit") is your interface to our library of images. Once you select an environment you would like to practice on, penkit fetches the most recent images, spins up the required virtual containers, and networks everything together — no Docker or programming knowlege is required. Once your software environment is running, penkit supplies you with any tool that you would need to exploit your target vulnerability.</p>
      <nav>
        <a href="https://gitlab.com/penkit" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i> View Source</a>
        <a href="https://penkit.io" target="_blank">Visit Site</a>
      </nav> 
    </div>
    <div class="featured-project">
      <h4><a href="https://gitlab.com/samlachance/lockbox" target="_blank">Lockbox</a></h4>
      <p class="technologies">Technologies: Docker, Linux, GPG, Bash</p>
      <p>Lockbox is a docker image that is used to securely generate PGP keys. Running lockbox will generate a LUKS encrypted iso, build a file system, generate PGP keys in the newly created lockbox volume, and then dump the encrypted iso and your public key to your local file system. At no point do your keys touch an unencrypted volume.</p>
      <nav>
        <a href="https://gitlab.com/samlachance/lockbox" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i> View Source</a>
      </nav>
    </div>
    <div class="featured-project">
      <h4><a href="https://gitlab.com/samlachance/professional-site" target="_blank">Professional Site</a></h4>
      <p class="technologies">Technologies: Python, Flask, SASS, Docker</p>
      <p>Building this site (www.samlachance.com) was the first time I've done any major experimentaiton with Python and Flask. My professional website has needed a makeover for some time now so I decided to give Python/Flask a shot. I used the default Jinja2 templating engine, SASS for styles, and jQuery for scripting. The app is mostly static except for the <a href="/projects">Projects page</a> which has some GitLab API integrations. The site is also running in Docker and the physical server runs Traefik for load balancing and SSL certificate acquisition.</p>
      <nav>
        <a href="https://gitlab.com/samlachance/professional-site" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i> View Source</a>
      </nav>
    </div>
    </section>
    <section id="gitlab-projects">
      <h3>All projects</h3>
      <div class="all-projects">
        <noscript>JavaScript must be enabled to load projects from GitLab.</noscript>
      </div>
  </section>
  <script type=text/javascript src="{{url_for('static', filename='scripts/gitlab.js') }}"></script>
{% endblock %}