body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FCFCFC;
  color: #26262A; }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif; }

    h2 {
      text-align: center;
      padding: 35px 15px;
      font-size: 2em;
      margin: 0; }

      a {
        color: #26262A; }
        a:hover {
          text-decoration: underline; }

div.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

  section {
    padding: 35px 15px; }
    section h2 {
      font-size: 2em; }
      section h3 {
        font-size: 1.5em;
        margin-top: 0px; }

header {
  overflow: auto;
  padding: 35px 15px; }
  header div.logo-container, header nav {
    float: left;
    width: 50%; }
    header div.logo-container h1, header div.logo-container p {
      margin: 0; }
      header div.logo-container h1 {
        letter-spacing: 1px; }
  header nav {
    text-align: right; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline-block;
        margin-right: 15px;
        margin-top: 3px; }
        header nav ul li a {
          display: block;
          line-height: 50px;
          border-bottom: 3px solid rgba(255, 255, 255, 0);
          text-decoration: none; }
          header nav ul li a:hover {
            transition: border-color 0.25s ease-in-out;
            -moz-transition: border-color 0.25s ease-in-out;
            -webkit-transition: border-color 0.25s ease-in-out;
            text-decoration: none;
            border-color: #26262A; }
        header nav ul li:last-child {
          margin-right: 0; }

footer {
  padding: 35px 15px;
  margin-top: 35px;
  text-align: center;
  background-color: #26262A;
  color: #FCFCFC; }
  footer div.wrapper {
    display: flex;
    justify-content: space-between; }
    footer ul.contact-icons {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right; }
      footer ul.contact-icons li {
        display: inline-block;
        margin-right: 10px; }
        footer ul.contact-icons li:last-child {
          margin-right: 0; }
          footer ul.contact-icons li a {
            color: #FCFCFC;
            font-size: 1.1em; }

section#intro div.copy-container {
  width: 50%;
  margin: 0 auto;
  font-size: 1.1em; }

section#featured-projects div.featured-project {
  border-left: 4px solid #26262A;
  padding-left: 15px;
  margin: 0 0 60px 30px; }
  section#featured-projects div.featured-project:last-child {
    margin-bottom: 0; }
    @media only screen and (max-width: 640px) {
      section#featured-projects div.featured-project {
        margin-left: 0;   }
}
      section#featured-projects div.featured-project h4 {
        font-size: 1.1em;
        margin-bottom: 10px; }
        section#featured-projects div.featured-project p.technologies {
          font-size: 0.8em;
          font-style: italic; }
          section#featured-projects div.featured-project nav a {
            border-radius: 3px;
            text-decoration: none;
            color: #FCFCFC;
            background-color: #26262A;
            padding: 5px 10px;
            margin: 0;
            display: inline-block; }

section#gitlab-projects p.loading-projects {
  text-align: center; }
  section#gitlab-projects div.git-project {
    border-left: 4px solid #26262A;
    padding-left: 15px;
    margin: 0 0 60px 30px; }
    section#gitlab-projects div.git-project:last-child {
      margin-bottom: 0; }
      @media only screen and (max-width: 640px) {
        section#gitlab-projects div.git-project {
          margin-left: 0;   }
}
        section#gitlab-projects div.git-project:last-child {
          margin-bottom: 0; }
          section#gitlab-projects div.git-project h4 {
            font-size: 1.1em;
            margin-bottom: 10px; }
            section#gitlab-projects div.git-project h5 {
              font-size: 1em;
              margin-bottom: 10px; }
              section#gitlab-projects div.git-project p.last-updated {
                font-size: 0.7em;
                margin: 0; }
                section#gitlab-projects div.git-project p.description {
                  margin: 30px 0; }
                  section#gitlab-projects div.git-project div.latest-commit {
                    padding: 15px;
                    border: 1px solid #D3D3D3;
                    border-radius: 3px;
                    max-width: 600px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between; }
                    section#gitlab-projects div.git-project div.latest-commit div.message-container {
                      display: flex;
                      align-items: center;
                      margin-right: 30px; }
                      section#gitlab-projects div.git-project div.latest-commit div.message-container div.icon {
                        margin-right: 30px; }
                        section#gitlab-projects div.git-project div.latest-commit div.message-container div.message p.commit-author {
                          font-style: italic;
                          font-size: 0.8em; }
                    section#gitlab-projects div.git-project div.latest-commit p {
                      margin: 0; }
                      section#gitlab-projects div.git-project div.latest-commit p.commit-info {
                        font-size: 0.7em; }
                        section#gitlab-projects div.git-project div.latest-commit p.commit-info a.commit-id {
                          border-radius: 3px;
                          text-decoration: none;
                          color: #FCFCFC;
                          background-color: #26262A;
                          padding: 5px 5px;
                          margin: 0;
                          display: inline-block; }

section#project h3 {
  font-size: 1.7em; }
  section#project ul.project-nav {
    margin: 26px 0;
    padding: 0;
    text-align: center;
    list-style: none; }
    section#project ul.project-nav li {
      margin: 0 20px;
      display: inline-block; }
      section#project ul.project-nav li a {
        display: block;
        text-decoration: none;
        min-width: 125px;
        padding: 10px;
        background-color: #26262A;
        border-radius: 5px;
        color: #FCFCFC; }

section#overview {
  display: flex;
  justify-content: space-between; }

  section.experience div.overview-container {
    margin-right: 30px; }
    section.experience div.overview-container h3 {
      color: #26262A !important; }
      section.experience div.overview-container span a {
        color: inherit; }
  section.experience div.highlights-container div.sidebar-inner {
    margin-top: 58px;
    min-width: 300px;
    border: 1px solid #26262A;
    text-align: center; }
    section.experience div.highlights-container div.sidebar-inner h4 {
      background-color: #26262A;
      color: #FCFCFC;
      margin: 0;
      padding: 20px 10px;
      text-align: center; }
      section.experience div.highlights-container div.sidebar-inner ul {
        display: inline-block;
        padding: 0 40px; }
        section.experience div.highlights-container div.sidebar-inner ul li {
          text-align: left;
          cursor: default; }
  section.experience div.highlights-container ul li:hover {
    list-style-type: circle; }
  section.experience div.tech-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px; }
    section.experience div.tech-categories div.tech-category {
      border: 1px solid #26262A;
      min-width: 300px;
      text-align: center; }
      section.experience div.tech-categories div.tech-category:last-child {
        margin-right: 0; }
        section.experience div.tech-categories div.tech-category h4 {
          background-color: #26262A;
          color: #FCFCFC;
          margin: 0;
          padding: 20px 10px;
          text-align: center; }
          section.experience div.tech-categories div.tech-category ul {
            display: inline-block;
            padding: 0 40px; }
            section.experience div.tech-categories div.tech-category ul li {
              text-align: left; }

section#contact p.cta {
  font-size: 1.2em;
  text-align: center; }
  section#contact ul.contact-methods {
    list-style: none;
    margin: 50px 0 90px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    section#contact ul.contact-methods li {
      text-align: center;
      min-width: 250px;
      margin-bottom: 30px; }
      section#contact ul.contact-methods li a {
        display: block;
        text-decoration: none; }
        section#contact ul.contact-methods li a i.fa {
          font-size: 5em; }
          section#contact ul.contact-methods li a p {
            font-size: 1.2em; }

section#blog {
  padding: 35px 15px;
  display: flex;
  justify-content: space-between; }
  section#blog div#post {
    margin-right: 30px; }
    section#blog div#post p.loading {
      text-align: center; }
      section#blog div#post p.post-info {
        font-size: 0.8em;
        font-style: italic;
        margin: 0; }
  section#blog div.posts-container div.sidebar-inner {
    margin-top: 58px;
    min-width: 300px;
    border: 1px solid #26262A;
    text-align: center; }
    section#blog div.posts-container div.sidebar-inner h4 {
      background-color: #26262A;
      color: #FCFCFC;
      margin: 0;
      padding: 20px 10px;
      text-align: center; }
      section#blog div.posts-container div.sidebar-inner ul {
        display: inline-block;
        padding: 0 40px; }
        section#blog div.posts-container div.sidebar-inner ul li {
          text-align: left;
          cursor: default; }

section#lost {
  text-align: center; }
