@media only screen and (max-width: 400px) {
  header nav ul {
    font-size: 0.8em;   }
    header nav ul li {
      margin-right: 3px;   }
}

@media only screen and (max-width: 730px) {
  header div.logo-container {
    width: 100%;
    text-align: center;   }
    header nav {
      width: 100%;
      text-align: center;
      margin-top: 10px;   }
  footer div.wrapper {
    flex-wrap: wrap;   }
    footer div.wrapper div.copyright {
      width: 100%;   }
      footer div.wrapper ul.contact-icons {
        width: 100%;
        text-align: center;
        margin-top: 15px;   }
        footer div.wrapper ul.contact-icons li {
          font-size: 1.5em;
          margin: 0 10px;   }
  section h3 {
    text-align: center;   }
  section#gitlab-projects div.all-projects div.git-project div.latest-commit {
    flex-wrap: wrap;   }
    section#gitlab-projects div.all-projects div.git-project div.latest-commit div.icon {
      display: none;   }
      section#gitlab-projects div.all-projects div.git-project div.latest-commit div.message-container {
        width: 100%;
        margin: 0 0 10px 0;   }
        section#gitlab-projects div.all-projects div.git-project div.latest-commit div.message-container div.message {
          font-size: 0.8em;   }
    section#gitlab-projects div.all-projects div.git-project div.latest-commit p.commit-info {
      width: 100%;
      text-align: right;   }
  section#blog div.post p.post-info {
    text-align: center;   }
}

@media only screen and (max-width: 960px) {
  section#intro div.copy-container {
    width: 100%;   }
  section#overview div.highlights-container {
    display: none;   }
    section#overview div.overview-container {
      margin: 0;   }
  section#common-tech div.tech-categories {
    justify-content: space-around;   }
    section#common-tech div.tech-categories div.tech-category {
      min-width: 200px;
      width: 80%;
      margin-bottom: 20px;   }
      section#common-tech div.tech-categories div.tech-category:last-child {
        margin-bottom: 0;   }
  section#blog {
    flex-direction: column;   }
    section#blog div#post {
      margin: 0;   }
}
